<div class="container" >
    <h1 class="p-5 text-center text-white">Difficulty Level</h1>
    <div class="row p-2 m-5 text-center">
        
        <div class="col">
            <div class="list-group">
                <div class="card d-flex justify-content-center align-items-center" style="background-color:rgba(20, 148, 3, 0.74)">
                   
                    <p class="mt-2 text-center text-white" style="font-weight: bold">Suitable for beginner learners!</p>
                
                    
                </div>
                <button @click="easy" class="mb-5 p-3 list-group-item list-group-item-action mb-2 border rounded-3" style="background-color:rgb(32, 218, 41)">Easy</button>
                
                <div class="card" style="background-color:rgb(172, 169, 0)">
                    
                    <p class="mt-2 text-center text-white" style="font-weight: bold">Suitable for intermediate learners!</p>
                    
                </div>
                <a href="#" class="p-3 list-group-item list-group-item-action mb-2 border  rounded-3 bg-warning mb-5">Medium</a>
                <div class="card" style="background-color:rgba(148, 3, 3, 0.74)">
                        <p class="mt-2 text-center text-white" style="font-weight: bold">Suitable for advanced learners!</p>
                </div>
                <a href="#" class="p-3 list-group-item list-group-item-action border rounded-3 bg-danger">Hard</a>
            </div>
        </div>
    </div>
</div>