<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-center text-white mb-5">QuickMathss</h1>
    <div class="p-5  rounded-3 shadow-lg " style="background-color: rgba(0, 0, 0, 0.1)">
        
        <form @submit.prevent="login">
            <div class="mb-3">
                <label for="username" class="form-label" style="color: white">Username</label>
                <input type="username" class="form-control" id="usernameId" aria-describedby="usernameForm">
                <div id="usernameForm" class="form-text">
                    Choose a cool username that you like!
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="color: white">Password</label>
                <input type="password" class="form-control" id="passwordId" aria-describedby="passwordForm">
                <div id="passwordForm" class="form-text">
                    Choose a strong password!
                </div>
                <button @click="register" type="submit" class="mt-3 btn btn-primary">Sign up!</button>
                <button type="login" class="mt-3 btn btn-warning">Login</button>
                <button @click="guest" type="guest" class="mt-3 btn btn-success d-block">
                    Play as Guest!
                </button>

                
            </div>
        </form>
    </div>

</div>