<div class="container">
    <h1 class="p-3 text-center text-white">Lobby</h1>
    <div class="row mt-5 mb-5">        
        
        
            <div class="col d-flex justify-content-center align-items-center flex-row">
                <div v-for="player in players">
                    <div class="bg-light rounded-3 border-3 me-4 p-2">
                        <div class="text-center">
                            <h3>{{player.username}}</h3>
                        </div>
                    </div>
                </div>
                
            </div>
        

    </div>
    <div class="row mt-5">
        <div class="col d-flex justify-content-center align-items-center flex-column mt-4" style="height: 60vh">
            <div v-if="currentPlayer.isHost">
                <!-- exit and start -->
                <button class="btn btn-primary me-3" @click="exit(currentPlayer)">Exit</button>
                <button class="btn btn-success" @click="nextState">Start</button>
            </div>
        
            <!-- if not host -->
            <div v-else>
                <!-- only exit -->
                <button class="btn btn-primary" @click="exit">Exit</button>
                <!-- <button class="btn btn-success" style="position: absolute; bottom: 0; right: 0;" @click="nextState">Start</button> -->
            </div>
        </div>
    </div>
    

    <!-- if the user is the host -->
    

    <!-- display users in the room -->
    <!-- <div class="room-user-list">
        <div v-for="roomUser in roomUserList" :key="roomUser.id" class="room-user-item">
          {{ roomUser.username }}
        </div>
    </div> -->
    

    <!-- position of the buttons on center-->
    
    
</div>
