<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="progress">
                <div class="progress-bar" role="progressbar" :style="{ width: progressBarWidth + '%' }" style="background-color:yellow" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button class="btn btn-primary mt-3" @click="startTimer">Start Timer</button>
        </div>
    </div>
</div>
