<div class="container">
    <div class="row">
        <div class="col mt-5">
            <i class="bi-alarm" style="font-size: 2rem; color:yellow"></i>
            <div class="progress">
                
                <div class="progress-bar" role="progressbar" :style="{ width: progressBarWidth + '%' }" style="background-color:yellow;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
        </div>
    </div>
    
        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Time is up!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      I'm sorry but you ran out of time. Please try again! Don't give up, my smart student!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" @click="restart" data-bs-dismiss="modal">Restart</button>
                    </div>
                  </div>
                </div>
              </div>
        
    
    <h2 class="text-center mt-5" style="color:white; font-family: Archivo Black; font-size: 2.5rem" >Question {{questionNumber}}</h2>
    <div class="row mt-5">
        <div class="col">
            <div class="card non-interactive">
                <div class="card-text text-center" style="font-size: 3rem">
                    {{questionArray[questionCounter].question}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col m-4 ">
            <div class="card" @click="nextQuestion(questionArray[questionCounter].answers[0])">
                <div class="card-text text-center p-5" style="font-size: 2.5rem">
                    {{questionArray[questionCounter].answers[0]}}
                </div>
            </div>
            
        </div>
        <div class="col m-4">
            <div class="card" @click="nextQuestion(questionArray[questionCounter].answers[1])">
                <div class="card-text text-center p-5" style="font-size: 2.5rem">
                    {{questionArray[questionCounter].answers[1]}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-4">
            <div class="card" @click="nextQuestion(questionArray[questionCounter].answers[2])">
                <div class="card-text text-center p-5" style="font-size: 2.5rem">
                    {{questionArray[questionCounter].answers[2]}}
                </div>
            </div>
            
        </div>
        <div class="col m-4">
            <div class="card" @click="nextQuestion(questionArray[questionCounter].answers[3])">
                <div class="card-text text-center p-5" style="font-size: 2.5rem">
                    {{questionArray[questionCounter].answers[3]}}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col d-flex justify-content-center align-items center">
            <button class="btn btn-danger"><i class="bi bi-lightbulb-fill" style="color: yellow"></i> Hint</button>
        </div>
        
    </div>
    
</div>

