<div class="container">

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="row">
            <div class="col">
                <img src="/static/astronaut.png" alt="astronaut" style="width: 100%">
            </div>
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <div class="card text-center non-interactive p-3 text-white" style="background-color:rgb(78, 78, 224)">
                    <div class="card-text">
                        <p style="font-family: Archivo Black; font-size:x-large">You got {{totalScores}} points!
                        </p>
                    </div>
                </div>
                <div class="card mt-3 text-center non-interactive p-3 text-white" style="background-color:rgb(139, 23, 101)">
                    <div class="card-text">
                        <p style="font-family: Archivo Black; font-size:large">To see your answers, click the review button below!<div class="p-3 card" style="background-color:rgb(121, 167, 30)">Green card means correct answer!</div>
                            <div class="p-3 card mt-3" style="background-color:rgb(206, 0, 0)">Red card means you selected the wrong answer!</div>
                    </div>
                </div>
                <button @click="review" class="btn btn-primary btn-warning p-3 mt-4">
                    Review answers!
                </button>
            </div>
        </div>
        
    </div>
    
</div>