<div class="container">
    <div class="col d-flex justify-content-center align-items-center flex-column" style="height: 100vh">
        <div class="row">
        
            <div class="card non-interactive p-4" style="background-color:rgba(1, 1, 61, 0.842)">
                <div class="card-text text-white" style="font-family: Poppins">
                    
                        <p class="text-center">Before you start the game, read this!</p>
                            <p>1) You need to answer the question before the <b>timer</b> runs out!</p>
                            <p>2) If you're stuck, click the <b class="text-warning">Hint</b> to find out how to answer the question!</p>
                            <p class="text-center">Best of luck students!</p>
                    
                </div>
                
            </div>
        </div>
        <div class="row mt-5">
            <button class="btn btn-primary p-3" @click="startTimer">Start!</button>
        </div>
            
        
    
    </div>
    
    
    
    
</div>